@import './shared/globals.scss';
@import './shared/mixins.scss';

#map {
    @include size(1440px, 520px);
    margin-top: -81px;
    z-index: 0;
    &_tile {
        @include size(100%, 20px);
        background-color: $color-white;
        font-family: 'Rubik', sans-serif;
        @include font(4, 3);
        color: $color-dark-gray
    }
    &_tile, a {
        @include font(4, 1);
        color: violet;
    }
}