@import './shared/globals.scss';
@import './shared/mixins.scss';
@import './shared/media-queries.scss';

#map {
    margin-top: -81px;
    z-index: 0;
    @include size(1440px, 520px);
    @include on-mobile {
        margin-top: -190px;
        height: 100vh;
    }
    &_tile {
        background-color: $color-white;
        color: $color-dark-gray;
        font-family: 'Rubik', sans-serif;
        @include size(100%, 20px);
        @include font(4, 3);
    }
    &_tile, a {
        color: violet;
        @include font(4, 1);
    }
}