@import './shared/globals.scss';
@import './shared/mixins.scss';


#results {
    @include size(1110px, 161px);
    border-radius: 14px;
    background-color: $color-white;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px; // TODO: remove this when parent flex container is added
    // padding: 25px 27px;
    padding: 25px 27px;
    z-index: 1;
}

.results {
    &_block {
        @include size(218px, 113px);
        &_heading, &_content {
            text-align: left;
            display: inline-block;
            align-self: flex-start;
        }

        &_heading {
            @include font(4, 1);
            color: $color-gray;
            padding: 11px 0px;
        }

        &_content {
            @include font(2, 2);
            color: $color-black;
            height: 100%;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        &_separator {
            @include size(1px, 75px);
            background-color: $color-gray;
        }
    }
}