$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

$g-width-mobile: 375px;
$g-width-desktop: 1440px;

$g-font-size: 18px;
$g-font-family: 'Rubik', sans-serif;
$g-font-weight: 400, 500, 700;

$font-size-1: 2em;